$def with ()
<!doctype html>
<html lang="en">
<head>
	<title>test input </title>
	<style>
	body {
		background-color: ThreeDHighlight;
		font-family: arial, helvetica, sans;
	}
	</style>
</head>
<body>


<form>
	<fieldset>
		<legend>
			Path: <input type="text" value="" name="path">
			<button>Fetch</button>
		</legend>
		<!--
		<div>
			<input type="text" placeholder="Name" name="name" id="name">
			<input type="text" placeholder="Value" name="value" id="value">
		</div>
		-->
	</fieldset>
	
	<button>Store</button>
</form>


</body>
</html>
